.bottomRow {
    background-color: rgba(31,37, 58, 1);
    min-height: 50px;

    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-weight: 500;
    padding-bottom: 50px;
    padding-left: 35px;
    /* padding: 10px; */
  }

.Bar {
  width: 67px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 46px;
  font-size: medium;
  text-align: center;
}
.BarNumber {
  min-height: 20px;
  margin-right: 4px;
  min-width: 63px;
  /* letter-spacing: 2.4px; */
  line-height: 20px;
  /* white-space: nowrap; */
}

.BarText {
  min-height: 19px;
  margin-top: 7px;
  /* margin-right: 8px; */
  min-width: 23px;
  /* font-weight: 400; */
  /* font-size: xx-small; */
  color: rgba(255,199, 0, 1);
}

.CameraButton {

    position: absolute;
    width: 75px;
    border: none;
    font-size: 0.9375rem;
    /* text-align:center; */
    padding: 5px;
    vertical-align: auto;
  }

.rightPart {
    display: flex;
    align-items: center;
    /* margin-right: 15px; */
}

.gutter-box {
    padding: 8px 0;
    background:rgba(31,37, 58, 1);
}

.col-style { 
    background: '#0092ff'; 
    padding: '8px 0' 
}

.active, .btn:hover {
  background-color: rgb(0, 0, 0);
  color:white;
}